<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383226856498-goi52shi72shmkkvrruqpec87pt3f4d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383226856498-goi52shi72shmkkvrruqpec87pt3f4d1</string>
	<key>API_KEY</key>
	<string>AIzaSyB9FegfBptD571I0TKjfkJMvsMvOEsLc2c</string>
	<key>GCM_SENDER_ID</key>
	<string>383226856498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workcafe.workcafe</string>
	<key>PROJECT_ID</key>
	<string>work-cafe-4d491</string>
	<key>STORAGE_BUCKET</key>
	<string>work-cafe-4d491.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383226856498:ios:25a1d8c2baff0df54fa82b</string>
</dict>
</plist>